.blue {
    border-bottom: 5px solid rgba(37, 99, 235);
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.testSpanError {
    color: rgba(37, 99, 235);
}