.default {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.25rem;
    padding: 0 1.25rem;
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, .5),
    7px 7px 20px 0 rgba(0, 0, 0, .1),
    4px 4px 5px 0 rgba(0, 0, 0, .1);
    outline: none;
    background: rgba(37, 99, 235);
    border: none;
}

.default:hover:not(:disabled) {
    background: rgba(2, 126, 251, 1);
}

.default:disabled {
    cursor: auto;
    background-color: #eaeaea;
    color: #666;
    opacity: 0.5;
}

.default:active:not(:disabled) {
    top: 2px;
}

.red {
    background: rgba(254, 226, 226);
    color: rgba(239, 68, 68);
}

.red:hover {
    background: transparent !important;
    box-shadow: none;
}