.inputWrap {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding: 30px;
}

.input {
    width: 300px;
    height: 46px;
    line-height: 46px;
    padding: 0 20px;
    outline: none;
    font-size: 15px;
    color: #808080;
    max-width: 100%;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    font-weight: 400;
    opacity: 1;
    border-radius: 6px;
    border: none;
}

.error {
    border: 1px solid rgba(239, 68, 68);
}

.errorText {
    position: absolute;
    bottom: 0;
    left: 50px;
    display: block;
    color: rgba(239, 68, 68);
}

.buttonAdd {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.25rem;
    padding: 0 1.25rem;
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, .5),
    7px 7px 20px 0 rgba(0, 0, 0, .1),
    4px 4px 5px 0 rgba(0, 0, 0, .1);
    outline: none;
    background: rgba(37, 99, 235);
    border: none;
}

.buttonAdd:hover:not(:disabled) {
    background: rgba(2, 126, 251, 1);
}

.buttonAdd:disabled {
    cursor: auto;
    background-color: #eaeaea;
    color: #666;
    opacity: 0.5;
}

.buttonAdd:active:not(:disabled) {
    top: 2px;
}

